<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.jpg">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="images/favicon/site.webmanifest">
        <!-- Font -->
        <link rel='stylesheet' id='Quicksand-css' href='https://fonts.googleapis.com/css?family=Quicksand%3A400%2C700&amp;ver=5.6.4' type='text/css' media='all'/>
        <link rel='stylesheet' id='Pacifico-css' href='https://fonts.googleapis.com/css?family=Pacifico&amp;ver=5.6.4' type='text/css' media='all'/>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="fonts/style.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Soham Sahare</title>
    </head>
    <body class="home page-template-default page page-id-5 wp-custom-logo crt crt-layers-1 crt-nav-on crt-nav-type2 crt-main-nav-on crt-side-box-on crt-sidebar-on" data-color="#754BCE">
        <div class="crt-wrapper">
            <header id="crtHeader" class="crt-logo-out">
                <div class="crt-head-inner crt-container">
                    <div class="crt-container-sm">
                        <div class="crt-head-row">
                            <div id="crtHeadCol1" class="crt-head-col text-left">
                                <a id="crtLogo" class="crt-logo" href="/">
                                    <span>Soham Sahare</span>
                                </a>
                            </div>
                            <div id="crtHeadCol2" class="crt-head-col text-left">
                                <div class="crt-nav-container crt-container hidden-sm hidden-xs">
                                    <nav id="crtMainNav">
                                        <ul class="clear-list">
                                            <li id="menu-item-148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-148"><a href="/" aria-current="page">Home</a></li>
                                            <li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150"><a href="/projects">Projects</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div id="crtHeadCol3" class="crt-head-col text-right">
                                <button id="crtSidebarBtn" class="btn btn-icon btn-shade">
                                    <span class="crt-icon crt-icon-side-bar-icon"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="crtNavSm" class="crt-nav hidden-lg hidden-md">
                    <div class="crt-avatar">
                        <a href="/#about" data-tooltip="About Me">
                        <img alt="" src="images/1.jpg" class="avatar avatar-42"> </a>
                    </div>
                    <ul class="clear-list">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a href="#skills" data-tooltip="Skills"><span class="crt-icon crt-icon-portfolio"></span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41"><a href="#experience" data-tooltip="Experience"><span class="crt-icon crt-icon-experience"></span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41"><a href="#education" data-tooltip="Education"><span class="crt-icon crt-icon-education"></span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42"><a href="/projects" data-tooltip="Projects"><span class="crt-icon crt-icon-folder"></span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-79"><a href="#interests" data-tooltip="Interests"><span class="crt-icon crt-icon-blog"></span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43"><a href="#contacts" data-tooltip="Contacts"><span class="crt-icon crt-icon-contact"></span></a></li>
                    </ul>
                </nav>
            </header>
            <div id="crtContainer" class="crt-container">
                <div id="crtSideBoxWrap">
                    <div id="crtSideBox" class="clear-mrg">
                        <div class="crt-side-box-1 clear-mrg">
                            <div id="wdg-sticky-start"></div>
                            <div id="sticky-widget-wrapper">
                                <div id="sticky-widget-inner" style="top: auto; left: auto; width: auto; position: static; bottom: auto;">
                                    <aside class="widget clearfix certy_widget_card">
                                        <div class="crt-card bg-primary text-center">
                                            <div class="crt-card-avatar">
                                                <span class="crt-avatar-state">
                                                    <span class="crt-avatar-state1">
                                                        <img class="avatar avatar-195" alt="" src="images/1.jpg">
                                                    </span>
                                                    <span class="crt-avatar-state2">
                                                        <img class="avatar avatar-195" alt="" src="images/2.jpg">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="crt-card-info clear-mrg">
                                                <h2 class="text-upper">Soham Sahare</h2>
                                                <p class="text-muted">Information Technology Student</p>
                                                <ul class="crt-social clear-list">
                                                    <li><a target="_blank" href="https://github.com/sohamsahare123"><span class="crt-icon crt-icon-github"></span></a></li>
                                                    <li><a target="_blank" href="https://www.linkedin.com/in/sohamsahare/"><span class="crt-icon crt-icon-linkedin"></span></a></li>
                                                    <li><a target="_blank" href="https://www.instagram.com/_soham.sahare/"><span class="crt-icon crt-icon-instagram"></span></a></li>
                                                    <li><a target="_blank" href="https://www.facebook.com/soham.sahare.9/"><span class="crt-icon crt-icon-facebook"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </aside>
                                    <aside class="widget clearfix widget_text">
                                        <div class="textwidget">
                                            <p>
                                                <center><a class="btn btn-lg btn-secondary" target="_blank" href="/resume" rel="noopener"><span class="crt-icon crt-icon-about"></span>RESUME</a></center>
                                            </p>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="crtNavWrap" class="hidden-sm hidden-xs">
                    <div id="crtNavInner" class="crt-sticky">
                        <div class="crt-nav-cont">
                            <div id="crtNavScroll">
                                <nav id="crtNav" class="crt-nav">
                                    <div class="crt-nav-img">
                                        <a href="/#about" data-tooltip="About Me">
                                        <img alt="" src="images/2.jpg" class="avatar avatar-42"> </a>
                                    </div>
                                    <ul class="clear-list">
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a href="#skills" data-tooltip="Skills"><span class="crt-icon crt-icon-portfolio"></span></a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41"><a href="#experience" data-tooltip="Experience"><span class="crt-icon crt-icon-experience"></span></a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41"><a href="#education" data-tooltip="Education"><span class="crt-icon crt-icon-education"></span></a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42"><a href="/projects" data-tooltip="Projects"><span class="crt-icon crt-icon-folder"></span></a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-79"><a href="#interests" data-tooltip="Interests"><span class="crt-icon crt-icon-blog"></span></a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43"><a href="#contacts" data-tooltip="Contacts"><span class="crt-icon crt-icon-contact"></span></a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div id="crtNavTools" class="hidden">
                                <span class="crt-icon crt-icon-dots-three-horizontal"></span>
                                <button id="crtNavArrow" class="clear-btn">
                                    <span class="crt-icon crt-icon-chevron-thin-down"></span>
                                </button>
                            </div>
                        </div>
                        <div class="crt-nav-btm"></div>
                    </div>
                </div>
                <div class="crt-container-sm">
                    <div class="crt-paper-layers crt-animate">
                        <div class="crt-paper clear-mrg clearfix">
                            <div class="crt-paper-cont paper-padd clear-mrg">
                                <section id="about" class="section padd-box">
                                    <div class="row">
                                        <div class="col-sm-12 clear-mrg text-box">
                                            <h2 class="title-lg text-upper">About Me</h2>
                                            <p><b>Hello World!👋, I’m Soham Sahare</b></p>
                                            <p>A Well-organised, enthusiast and a problem solver. I enjoy creating things that live on the internet. I’ve always sought out opportunities and challenges that are meaningful to me. 
                                                <br> I am a self-taught developer/programmer with a strong eye for innovation and a keen understanding of technologies.
                                                <br> When I'm not coding, you'll find me cooking, working out or running in the park.
                                                
                                            </p>
                                        </div>
                                    </div>
                                </section>
                                <section  class="section padd-box ">
                                    <div class="row">
                                        <div class="col-sm-6 clear-mrg">
                                            <h3 class="title-thin text-muted">Personal information</h3>
                                            <dl class="dl-horizontal clear-mrg">
                                                <dt class="text-upper">Name</dt>
                                                    <dd>Soham Ramdas Sahare</dd>
                                                <dt class="text-upper">Date of Birth</dt>
                                                    <dd>17<sup>th</sup> August 2000</dd>
                                                <dt class="text-upper">Address</dt>
                                                    <dd>403, VTC Apartment, Near Sangam Big Cinemas, Nagpur</dd>
                                                <dt class="text-upper">Phone</dt>
                                                    <dd>+91 7756059960</dd>
                                                <dt class="text-upper">E-mail</dt>
                                                    <dd>sohamsahare123@gmail.com</dd>
                                                <dt class="text-upper">Nationality</dt>
                                                    <dd>Indian</dd>
                                            </dl>
                                        </div>
                                        <div class="col-sm-6 clear-mrg">
                                            <h3 class="title-thin text-muted">Languages</h3>
                                            <div class="col-xxs-4 text-center">
                                                <div class="progress-chart crt-animate" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar" data-text="English" data-value="1.0"></div>
                                                    <strong class="progress-title">Fluent</strong>
                                                </div>
                                            </div>
                                            <div class="col-xxs-4 text-center">
                                                <div class="progress-chart crt-animate" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar" data-text="Hindi" data-value="1.0"></div>
                                                    <strong class="progress-title">Fluent</strong>
                                                </div>
                                            </div>
                                            <div class="col-xxs-4 text-center">
                                                <div class="progress-chart crt-animate" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar" data-text="Marathi" data-value="1.0"></div>
                                                    <strong class="progress-title">Native</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="crt-paper-layers crt-animate">
                        <div class="crt-paper clear-mrg clearfix">
                            <div class="crt-paper-cont paper-padd clear-mrg">
                                <section id="skills" class="section padd-box">
                                    <div class="row">
                                        <div class="col-sm-12 clear-mrg text-box">
                                            <h2 class="title-lg text-upper">Skills</h2>
                                        </div>
                                    </div>
                                </section>
                                <section id="data" class="section padd-box brd-btm">
                                    <div class="row">
                                        <div class="col-sm-12 clear-mrg">
                                            <h3 class="title-thin text-muted" style="margin-bottom: 15px; ">Programming Languages</h3>
                                            <div class="row">
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">Python</strong>
                                                        <div class="progress-bar" data-text="95%" data-value="0.95"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">C++</strong>
                                                        <div class="progress-bar" data-text="81%" data-value="0.81"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">JavaScript</strong>
                                                        <div class="progress-bar" data-text="90%" data-value="0.90"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">Java</strong>
                                                        <div class="progress-bar" data-text="55%" data-value="0.55"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">Node.js</strong>
                                                        <div class="progress-bar" data-text="75%" data-value="0.75"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 clear-mrg ">
                                            <h3 class="title-thin text-muted" style="margin-bottom: 15px; margin-top: 10px;">Frameworks/Libraries</h3>
                                            <div class="row">
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">Django</strong>
                                                        <div class="progress-bar" data-text="85%" data-value="0.85"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">Flask</strong>
                                                        <div class="progress-bar" data-text="90%" data-value="0.90"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">React</strong>
                                                        <div class="progress-bar" data-text="66%" data-value="0.66"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">Scikit-Learn</strong>
                                                        <div class="progress-bar" data-text="76%" data-value="0.76"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">Tensorflow</strong>
                                                        <div class="progress-bar" data-text="70%" data-value="0.70"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 clear-mrg ">
                                            <h3 class="title-thin text-muted" style="margin-bottom: 15px; margin-top: 10px;">Other</h3>
                                            <div class="row">
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">HTML/CSS</strong>
                                                        <div class="progress-bar" data-text="90%" data-value="0.90"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">SQL/PostgreSQL</strong>
                                                        <div class="progress-bar" data-text="80%" data-value="0.80"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 clear-mrg progress-bullets crt-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="10">
                                                    <div class="progress-line crt-animate" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                                        <strong class="progress-title">MongoDB</strong>
                                                        <div class="progress-bar" data-text="75%" data-value="0.75"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section id="data" class="section padd-box">
                                    <div class="row">
                                        <div class="col-sm-6 clear-mrg">
                                            <h3 class="title-thin text-muted">Tools</h3>
                                            <ul class="clear-mrg crt-icon-list">
                                                <li><span class="crt-icon crt-icon-caret-right"></span>Visual Studio Code</li>
                                                <li><span class="crt-icon crt-icon-caret-right"></span>Jupyter Notebook</li>
                                                <li><span class="crt-icon crt-icon-caret-right"></span>PyCharm</li>
                                                <li><span class="crt-icon crt-icon-caret-right"></span>Matlab</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 clear-mrg">
                                            <h3 class="title-thin text-muted">Other Tools</h3>
                                            <ul class="clear-mrg crt-icon-list">
                                                <li><span class="crt-icon crt-icon-caret-right"></span>Adobe Photoshop</li>
                                                <li><span class="crt-icon crt-icon-caret-right"></span>Adobe Premiere Pro</li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="crt-paper-layers crt-animate">
                        <div class="crt-paper clear-mrg clearfix">
                            <div class="crt-paper-cont paper-padd clear-mrg">
                                <section id="experience" class="section padd-box">
                                    <h2 class="title-lg text-upper">Work Experience</h2>
                                    <div class="education">
                                        <div class="education-box">
                                            <span class="education-date">
                                                <span>May 2020 - present</span>
                                            </span>
                                            <h3>
                                                Abhyast Private Limited, New Delhi
                                            </h3>
                                            <span class="education-company">Web Developer Intern</span>
                                            </a>
                                            <div class="at-above-post-homepage addthis_tool" ></div>
                                            <p>Currently working on WebRTC (Web Real Time Communication) to build a video conferencing web app 
                                                from scratch using WebRTC API's which includes attendance management, 
                                                polling feature, chat etc. 
                                                <br>Working with Express, Node.js, MongoDB, API's etc.
                                            </p>
                                            <div class="at-below-post-homepage addthis_tool" ></div>
                                        </div>
                                        <div class="education-box">
                                            <span class="education-date">
                                                <span>July 2020 - Oct 2020</span>
                                            </span>
                                            <h3>
                                                Vidyalankar Institute of Technology, Mumbai
                                            </h3>
                                            <span class="education-company">Software Developer Intern</span>
                                            <div class="at-above-post-homepage addthis_tool"></div>
                                            <p>Worked on Repository System web app for college faculty to store their important documents 
                                                like certificates, publications, FDP etc. and access them anytime anywhere using their login credentials.
                                            </p>
                                            <div class="at-below-post-homepage addthis_tool"></div>
                                        </div>
                                        <div class="education-box">
                                            <span class="education-date">
                                                <span>May 2020 - June 2020</span>
                                            </span>
                                            <h3>
                                                The SmartBridge, Hyderabad
                                            </h3>
                                            <span class="education-company">Machine Learning Intern</span>
                                            <div class="at-above-post-homepage addthis_tool"></div>
                                            <p>Worked on Dataset Preparation, Web-app interface development, performance,
                                                analysis, API development. Used tools like IBM Watson, Node-Red, IBM Cloud, etc
                                            </p>
                                            <div class="at-below-post-homepage addthis_tool"></div>
                                        </div>
                                        <div class="education-box">
                                            <span class="education-date">
                                                <span>Nov 2020 - present</span>
                                            </span>
                                            <h3>
                                                VERVE VIT
                                            </h3>
                                            <span class="education-company">Technical Secretary</span>
                                            <div class="at-above-post-homepage addthis_tool"></div>
                                            <p>Organized and hosted first ever inter college Technical Fest "ALGORHYTHM" of VIT 
                                                virtually. Two days fest with 10+ simultaneously ongoing events like Hackathon, Competitive Programming, Circuit Frenzy etc. With 500+ footfall.
                                                <br> Other than fest, also organized many more events for college Freshers' and Cultural Fest of VIT.
                                            </p>
                                            <div class="at-below-post-homepage addthis_tool"></div>
                                        </div>
                                        <div class="education-box">
                                            <span class="education-date">
                                                <span>Nov 2020 - present</span>
                                            </span>
                                            <h3>
                                                Information Technology Student’s Association (ITSA), VIT
                                            </h3>
                                            <span class="education-company">Creative Head</span>
                                            <div class="at-above-post-homepage addthis_tool"></div>
                                            <p>Created many posters, flexes, introductory videos, etc for various events of ITSA on Adobe Photoshop, Illustrator and Premiere Pro.</p>
                                            <div class="at-below-post-homepage addthis_tool"></div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="crt-paper-layers crt-animate">
                        <div class="crt-paper clear-mrg clearfix">
                            <div class="crt-paper-cont paper-padd clear-mrg">
                                <section id="education" class="section padd-box">
                                    <h2 class="title-lg text-upper">Education</h2>
                                    <div class="education">
                                        <div class="education-box">
                                            <span class="education-date">
                                                <span>2018 - present</span>
                                            </span>
                                            <h3>
                                                Vidyalankar Institute of Technology, Mumbai
                                            </h3>
                                            <span class="education-company">B.E. Information Technology</span>
                                            <div class="at-above-post-homepage addthis_tool" ></div>
                                            <p>Pursuing Bachelor of Engineering (B.E.) in Information Technology with an CGPI - 8.722/10 (till sem 5)</p>
                                            <div class="at-below-post-homepage addthis_tool" ></div>
                                        </div>
                                        <div class="education-box">
                                            <span class="education-date">
                                                <span>2016 - 2018</span>
                                            </span>
                                            <h3>
                                                Taywade Junior College, Nagpur
                                            </h3>
                                            <span class="education-company">12<sup>th</sup> HSSC (Science)</span>
                                            <div class="at-above-post-homepage addthis_tool" ></div>
                                            <p>Percentage - 80.85%</p>
                                            <div class="at-below-post-homepage addthis_tool" ></div>
                                        </div>
                                        <div class="education-box">
                                            <span class="education-date">
                                                <span>2006 - 2016</span>
                                            </span>
                                            <h3>
                                                Tejswini Vidya Mandir, Nagpur
                                            </h3>
                                            <span class="education-company">10<sup>th</sup> SSC</span>
                                            <div class="at-above-post-homepage addthis_tool" ></div>
                                            <p>Percentage - 92.60%</p>
                                            <div class="at-below-post-homepage addthis_tool" ></div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="crt-paper-layers crt-animate">
                        <div class="crt-paper clear-mrg clearfix">
                            <div class="crt-paper-cont paper-padd clear-mrg">
                                <section id="interests" class="section padd-box">
                                    <div class="row">
                                        <div class="col-sm-12 clear-mrg">
                                            <h2 class="title-lg text-upper">Interests</h2>
                                            <ul class="crt-icon-list crt-icon-list-col3 clearfix">
                                                <li>
                                                    <span class="crt-icon crt-icon crt-icon-island"></span>
                                                    Travel 
                                                </li>
                                                <li>
                                                    <span class="crt-icon crt-icon crt-icon-sports-shoe"></span>
                                                    Running 
                                                </li>
                                                <li>
                                                    <span class="crt-icon crt-icon crt-icon-fast-food"></span>
                                                    Cooking 
                                                </li>
                                                <li>
                                                    <span class="crt-icon crt-icon crt-icon-hiking"></span>
                                                    Trekking
                                                </li>
                                                <li>
                                                    <span class="crt-icon crt-icon crt-icon-cube"></span>
                                                    Problem Solving 
                                                </li>
                                                <li>
                                                    <span class="crt-icon crt-icon crt-icon-gg"></span>
                                                    Competitive Programming 
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="crt-paper-layers crt-animate">
                        <div class="crt-paper clear-mrg clearfix">
                            <div class="crt-paper-cont paper-padd clear-mrg">
                                <section id="contacts" class="section padd-box">
                                    <h2 class="title-lg text-upper">Contact Me</h2>
                                    <div class="padd-box-sm">
                                        <header class="contact-head">
                                            <ul class="crt-social clear-list">
                                                <li><a target="_blank" href="https://github.com/sohamsahare123"><span class="crt-icon crt-icon-github"></span></a></li>
                                                <li><a target="_blank" href="https://www.linkedin.com/in/sohamsahare/"><span class="crt-icon crt-icon-linkedin"></span></a></li>
                                                <li><a target="_blank" href="https://www.instagram.com/_soham.sahare/"><span class="crt-icon crt-icon-instagram"></span></a></li>
                                                <li><a target="_blank" href="https://www.facebook.com/soham.sahare.9/"><span class="crt-icon crt-icon-facebook"></span></a></li>
                                            </ul>
                                            <h3 class="title-thin">Competitive Programming Profiles - </h3>
                                            <ul class="clear-mrg crt-icon-list">
                                                <li><span class="crt-icon crt-icon-caret-right"></span><a href="https://www.codechef.com/users/sohamsahare" target="_blank">Codechef</a></li>
                                                <li><span class="crt-icon crt-icon-caret-right"></span><a href="https://codeforces.com/profile/sohamsahare" target="_blank">Codeforces</a></li>
                                                <li><span class="crt-icon crt-icon-caret-right"></span><a href="https://www.hackerrank.com/sohamsahare" target="_blank">HackerRank</a></li>
                                                <li><span class="crt-icon crt-icon-caret-right"></span><a href="https://leetcode.com/soham_sahare/" target="_blank">LeetCode</a></li>
                                            </ul>
                                        </header>
                                        <h3>Fell free to contact me in case of any question</h3>
                                        <div role="form" class="wpcf7" id="wpcf7-f46-p5-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response">
                                                <p role="status" aria-live="polite" aria-atomic="true"></p>
                                                <ul></ul>
                                            </div>
                                            <form action="/contact" method="POST" id="yourform" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                                <p><label> Your Name (required)<br />
                                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="yourname" id="yourname" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false" /></span> </label>
                                                    <span class="wpcf7-not-valid-tip" id="nameerror" aria-hidden="true"></span>
                                                </p>
                                                <p><label> Your Email (required)<br />
                                                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="youremail" id="youremail" value="" size="40" class="wpcf7-form-control wpcf7-text " aria-required="true" aria-invalid="false" /></span> </label>
                                                    <span class="wpcf7-not-valid-tip" id="emailerror" aria-hidden="true"></span>
                                                </p>
                                                <p><label> Subject<br />
                                                    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="yoursubject" id="yoursubject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </label>
                                                    <span class="wpcf7-not-valid-tip" id="subjecterror" aria-hidden="true"></span>
                                                </p>
                                                <p><label> Your Message (required)<br />
                                                    <span class="wpcf7-form-control-wrap your-message"><textarea name="yourmessage" id="yourmessage" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </label>
                                                    <span class="wpcf7-not-valid-tip" id="messageerror" aria-hidden="true"></span>
                                                </p>
                                                <p><input type="submit" value="Send" id="yoursubmit" class="wpcf7-form-control wpcf7-submit" /></p>

                                                <div class="wpcf7-response-output" aria-hidden="true" id="mysuccess" style="display: none;">We will get back to you soon 😃</div>

                                                <div class="wpcf7-response-output" aria-hidden="true" id="myerror" style="display: none; border-color: #b8362b;">One or more fields have an error. Please check and try again.</div>
                                            </form>
                                            
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="crtSidebar">
                <button id="crtSidebarClose" class="btn btn-icon btn-light btn-shade">
                <span class="crt-icon crt-icon-close"></span>
                </button>
                <div id="crtSidebarInner">
                    <nav id="crtMainNavSm" class="hidden-lg hidden-md text-center">
                        <ul class="clear-list">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-148"><a href="/" aria-current="page">Home</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150"><a href="/projects">Projects</a></li>
                        </ul>
                    </nav>
                    <aside class="widget-area clear-mrg">
                        <section class="widget clearfix certy_widget_card">
                            <div class="crt-card bg-primary text-center">
                                <div class="crt-card-avatar">
                                    <span class="crt-avatar-state">
                                    <span class="crt-avatar-state1">
                                    <img class="avatar avatar-195" alt="" src="images/1.jpg">
                                    </span>
                                    <span class="crt-avatar-state2">
                                    <img class="avatar avatar-195" alt="" src="images/2.jpg">
                                    </span>
                                    </span>
                                </div>
                                <div class="crt-card-info clear-mrg">
                                    <h2 class="text-upper">Soham Sahare</h2>
                                    <p class="text-muted">Information Technology Student</p>
                                    <ul class="crt-social clear-list">
                                        <li><a target="_blank" href="https://github.com/sohamsahare123"><span class="crt-icon crt-icon-github"></span></a></li>
                                        <li><a target="_blank" href="https://www.linkedin.com/in/sohamsahare/"><span class="crt-icon crt-icon-linkedin"></span></a></li>
                                        <li><a target="_blank" href="https://www.instagram.com/_soham.sahare/"><span class="crt-icon crt-icon-instagram"></span></a></li>
                                        <li><a target="_blank" href="https://www.facebook.com/soham.sahare.9/"><span class="crt-icon crt-icon-facebook"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <section class="widget clearfix widget_recent_entries">
                            <h2 class="widget-title">From the Projects</h2>
                            <ul>
                                <li>
                                    <a href="https://github.com/sohamsahare123/Multi-Peer-WebRTC" target="_blank">Multi Peer WebRTC</a>
                                </li>
                                <li>
                                    <a href="https://github.com/sohamsahare123/Multi-Peer-WebRTC" target="_blank">Faculty Repository System</a>
                                </li>
                            </ul>
                        </section>
                    </aside>
                </div>
            </div>
            <footer id="crtFooter" class="crt-container-lg">
                <div class="crt-container">
                    <div class="crt-container-sm clear-mrg text-center">
                        <p>Made with ❤️ and ☕ </p>
                    </div>
                </div>
            </footer>
            <button id="crtBtnUp" class="btn btn-icon btn-primary">
            <span class="crt-icon crt-icon-arrow-page-up"></span>
            </button>
            <svg id="crtBgShape1" class="hidden-sm hidden-xs" height="519" width="758">
                <polygon class="pol" points="0,455,693,352,173,0,92,0,0,71" />
            </svg>
            <svg id="crtBgShape2" class="hidden-sm hidden-xs" height="536" width="633">
                <polygon points="0,0,633,0,633,536" />
            </svg>
        </div>
        <script src="js/jquery.js"></script>
        <script src="js/modernizr.js"></script>
        <script src="js/jqueryuislider.js"></script>
        <script src="js/form.js"></script>
        <script src="js/plugins.js"></script>
        <script type='text/javascript' id='certy-main-js-js-extra'>
            var certy_vars_from_WP = {"themeColor":"#754BCE", "enable_sticky":"1"};
        </script>
        <script src="js/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            $('body').append('<div style="height: 100vh;display: flex; align-items: center;justify-content: center; z-index: 9999999;" id="loadingDiv"><div class="loader">Loading...</div></div>');
            $(window).on('load', function() {
                setTimeout(removeLoader, 500);
            });

            function removeLoader() {
                $("#loadingDiv").fadeOut(500, function() {
                    $("#loadingDiv").remove();
                });
            }
            
        </script>
        <script type="text/javascript">
            window.addEventListener("load", () => {
                const form = document.querySelector("form");

                form.reset()
                form.addEventListener("submit", (e) => {

                    document.getElementById("nameerror").innerText = ""
                    document.getElementById("emailerror").innerText = ""
                    document.getElementById("messageerror").innerText = ""
                    document.getElementById("mysuccess").style.display = "none"
                    document.getElementById("myerror").style.display = "none"

                    let name = form.yourname.value
                    let email = form.youremail.value
                    let subject = form.yoursubject.value
                    let message = form.yourmessage.value

                    let error = 0

                    function validateEmail(email) {
                        const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        return re.test(email);
                    }

                    if (!validateEmail(email)){
                        document.getElementById("emailerror").innerText = "Enter Valid Email"
                        error = error + 1
                    }

                    if (name.trim().length == 0) {
                        document.getElementById("nameerror").innerText = "This field is required"
                        error = error + 1
                    }
                    if (email.trim().length == 0) {
                        document.getElementById("emailerror").innerText = "This field is required"
                        error = error + 1
                    }
                    if (message.trim().length == 0) {
                        document.getElementById("messageerror").innerText = "This field is required"
                        error = error + 1
                    }
                    
                    e.preventDefault();

                    if (error == 0){
                        let data = new FormData(form);
                        axios({
                            method: "post",
                            url: "/contact",
                            data: data,
                        })
                        .then((res) => {
                            
                            // console.log(res);
                        })
                        .catch((err) => {
                            throw err;
                        });
                        
                        form.reset();
                        document.getElementById("mysuccess").style.display = "block"
                    }
                    else{
                        document.getElementById("myerror").style.display = "block"
                    }

                });
            });
        </script>
    </body>
</html>