<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="images/favicon/site.webmanifest">
        <!-- Font -->
        <link rel='stylesheet' id='Quicksand-css' href='https://fonts.googleapis.com/css?family=Quicksand%3A400%2C700&amp;ver=5.6.4' type='text/css' media='all'/>
        <link rel='stylesheet' id='Pacifico-css' href='https://fonts.googleapis.com/css?family=Pacifico&amp;ver=5.6.4' type='text/css' media='all'/>
        <link rel="stylesheet" href="fonts/style.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Resume - Soham Sahare</title>
    </head>
    <body class="home page-template-default page page-id-5 wp-custom-logo crt crt-layers-1 crt-nav-on crt-nav-type2 crt-main-nav-on crt-side-box-on crt-sidebar-on" data-color="#754BCE">
        <iframe src="Resume.pdf" style="height: 100vh; width: 100vw">

        <script src="js/jquery.js"></script>
        <script src="js/modernizr.js"></script>
        <script src="js/jqueryuislider.js"></script>
        <script src="js/form.js"></script>
        <script src="js/plugins.js"></script>
        <script type='text/javascript' id='certy-main-js-js-extra'>
            var certy_vars_from_WP = {"themeColor":"#754BCE", "enable_sticky":"1"};
        </script>
        <script src="js/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            $('body').append('<div style="height: 100vh;display: flex; align-items: center;justify-content: center; z-index: 9999999;" id="loadingDiv"><div class="loader">Loading...</div></div>');
            $(window).on('load', function() {
                setTimeout(removeLoader, 500);
            });

            function removeLoader() {
                $("#loadingDiv").fadeOut(500, function() {
                    $("#loadingDiv").remove();
                });
            }
        </script>
    </body>
</html>